trigger: none

resources:
  pipelines:
    - pipeline: buildapp
      source: icaroalb1.carework-gs
      trigger: true

steps:

- task: AzureWebAppContainer@1
  inputs:
    azureSubscription: 'Azure Guilherme(bd50eca1-c357-4b10-8ba9-44e38ef8c663)'
    appName: 'carework'
    containers: 'carework.azurecr.io/carework:latest'




    