# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
  - task: JavaToolInstaller@1
    inputs:
      versionSpec: '21'
      jdkArchitectureOption: 'x64'
      jdkSourceOption: 'PreInstalled'
  - task: Maven@4
    inputs:
      mavenPOMFile: 'pom.xml'
      goals: 'package'
      javaHomeOption: 'JDKVersion'
      mavenVersionOption: 'Default'
    env:
      OPENAI_API_KEY: $(OPENAI_API_KEY)
      CAREWORK_API_KEY: $(CAREWORK_API_KEY)
      CAREWORK_API_BASE_URL: $(CAREWORK_API_BASE_URL)
      AZURE_DB_URL: $(AZURE_DB_URL)
      AZURE_DB_USER: $(AZURE_DB_USER)
      AZURE_DB_PASSWORD: $(AZURE_DB_PASSWORD)
    displayName: 'Build with Maven'

  - task: Maven@4
    inputs: 
      mavenPomFile: 'pom.xml'
      goals: 'test'
      javaHomeOption: 'JDKVersion'
      mavenVersionOption: 'Default'
      publishJUnitResults: true # 
      testResultsFiles: '**/surefire-reports/TEST-*.xml'
    env: 
      OPENAI_API_KEY: $(OPENAI_API_KEY)
      CAREWORK_API_KEY: $(CAREWORK_API_KEY)
      CAREWORK_API_BASE_URL: $(CAREWORK_API_BASE_URL)
      AZURE_DB_URL: $(AZURE_DB_URL)
      AZURE_DB_USER: $(AZURE_DB_USER)
      AZURE_DB_PASSWORD: $(AZURE_DB_PASSWORD)
    displayName: 'Test with maven'
  - task: Docker@2
    displayName: Build and push image to ACR
    inputs:
      containerRegistry: 'ACR-Carework'
      repository: 'carework'
      command: 'buildAndPush'
      Dockerfile: '**/Dockerfile'
      tags: |
        latest
        
    env:
      OPENAI_API_KEY: $(OPENAI_API_KEY)
      CAREWORK_API_KEY: $(CAREWORK_API_KEY)
      CAREWORK_API_BASE_URL: $(CAREWORK_API_BASE_URL)
      AZURE_DB_URL: $(AZURE_DB_URL)
      AZURE_DB_USER: $(AZURE_DB_USER)
      AZURE_DB_PASSWORD: $(AZURE_DB_PASSWORD)